
.welcome {
  background: url('./../images/gallery/successful-sporty-male-shows-his-big-finger-up.jpg') #aaa9a994;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-blend-mode: multiply;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 20px;
}
:root{
  --primary-color:#edf2fc;
  --secondary-color:#212121;
  
}
.dark-theme{
  --primary-color:#000106;
  --secondary-color:#fff;

}
body {
  max-width: 768px;
  height: 100vh;
}

.navbar-container {
  display: flex;
  max-width: 100%;
  height: 50px;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.5% 5%;
  align-items: center;
  background: var(--primary-color);
  color: var(--secondary-color);
}

.logo {
  font-size: 1.2rem;
  color: var(--secondary-color);
  font-weight: 700;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

nav ul {
  display: none;
  flex-direction: row;
  gap: 2em;
}

nav a {
  color: var(--secondary-color);
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.menu-button {
  cursor: pointer;
  display: none;
}

.menu-button:active {
  border: 1px solid white;
  padding: 11px 3px;
  border-radius: 3px;
}

.menu-show {
  position: absolute;
  top: 7%;
  left: 0;
  right: 0;
  display: block;
  max-width: 100%;
  background: grey;
  text-align: center;
  height: 220px;
  z-index: 1;
}

nav li {
  line-height: 43px;
  border-bottom: 1px solid white;
}

.active {
  color: #b32d19;
}

nav a:hover {
  color: #b32d19;
  transition: all 0.1s ease;
}


.bar {
  display: block;
  width: 27px;
  height: 4px;
  background-color: var(--secondary-color);
  margin: 6px auto;
}


@media screen and (min-width: 768px) {
  body {
    max-width: 100%;
    position: relative;
  }

  nav ul {
    display: flex;
  }

  nav li {
    border: none;
  }

  .burger {
    display: none;
  }
}

#icon1{
  width: 30px;
  cursor: pointer;
}
nav ul{
  flex: 1;
  text-align: right;
}

.summary {
  line-height: 40px;
}

.summary h1 {
  color: white;
  font-size: 2rem;
  font-weight: 700px;
}

.summary p {
  color: white;
  font-weight: lighter;
}

.learn-more {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.learn-more a {
  color: white;
  font-size: 1.2rem;
  opacity: 0;
}

.learn-more .btn {
  text-align: center;
  align-items: center;
  padding: 0.8em 1.5em;
  font-weight: 400;
  color: var(--secondary-color);
  background-color: #f92302;
  border: 1px solid #f92302;
  opacity: 0;
}

.learn-more .btn:hover {
  background-color: #b32d19;
  color: var(--secondary-color);
  transition: all 0.5s ease;
}

.learn-more .btn:active {
  background-color: #330801;
}

.schedule {
  background: var(--primary-color);
  height: 400px;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.schedule div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
  color: var(--secondary-color);
}

.schedule p {
  font-size: 14px;
  font-weight: lighter;
  color: var(--secondary-color);
}

.schedule time {
  font-size: 12px;
}

div .register-btn {
  text-align: center;
  height: 7vh;
  margin: 1rem;
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  font-weight: lighter;
  background-color: #f92302;
  border: 1px solid  #f92302;
}

.register-btn:hover {
  opacity: 0.9;
}

.register-btn:active {
  border: 1px solid  #b32d19;
  background-color: #b32d19;
}

.classes {
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap:40px;
  padding: 2rem;
}
.classes h3{
  font-size: 27px;
  color: var(--secondary-color);

}
.classes img {
  max-width: 100%;
  height: auto;
  padding: 12px 12px;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.timetable {
  display: flex;
  padding: 2em 1em;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  flex-direction: column;
  border-collapse: collapse;
  overflow-x: auto;
  background-color: var(--primary-color);
}

table {
  width: 90vw;
  height: 90vh;
}


body{
  background-repeat: no-repeat;
  background-size: cover;
}
.workout h2{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  color: var(--secondary-color);
  padding-top: 10px;
  font-weight: 100%;
  margin: 0;
}
table,tr,th{
  border: 1px solid #f92302b4;
  background-color: #f92302b4;
  text-align: center;
  font-size: 30px;
  display: center;
  padding: 5px;
  table-layout: auto;
  tab-size: 500px 450px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  float: center;
}
table,th{
  background-color: #f92302b4;
}


.contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  margin: 24px auto;
}
 main{
  background-color: var(--primary-color);
}
main h3{
  background-color: var(--primary-color);
  color: var(--secondary-color);
} 

main .margin{
  background-color: var(--primary-color);
  color: var(--secondary-color); 
}


form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 48px;
}

form [name] {
  outline: none;
  border: 1px solid grey;
  padding: 6px;
  border-radius: 6px;
}

form input:focus {
  border: 3px solid #f92302b4;
}

form .btn {
  background:  var(--secondary-color);
  padding: 8px;
  color: var(--primary-color);
  text-align: center;
  border: 1px solid  rgba(0, 0, 0, 0.787);
  border-radius: 6px;
}

form .btn:hover {
  background: red;
}

form .btn:active {
  background: var(--primary-color);
}

.map {
  text-align: center;
  margin: 24px auto;
}
.margin{
  margin:15px;
}
iframe {
  width: 100%;
  padding: 0 12px;
  height: 300px;
}


p.slide-left {
  animation-delay: 1s;
}

a.slide-left {
  animation-delay: 2s;
}

.btn {
  animation-delay: 3s;
}


footer {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  padding-top:30px;
  justify-content: center;
  text-align: center;
  color: var(--secondary-color);
  gap: 20px;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap:10px;
}
footer section:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer p,
footer a {
  font-size: 14px;
  line-height: 30px;
  color: var(--secondary-color);
}

footer ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.pages-navigation ul {
  display: block;
}

.social {
  border-top: 1px solid black;
  display: flex;
  padding:20px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.social h4 {
  font-size: 23px;
  font-weight: 200;
}

.social i {
  color: var(--secondary-color);
  font-size:25px;
}


.slide-left {
  animation: slideleft 1s linear forwards;
}

@keyframes slideleft {
  from {
    transform: translate(100px);
    opacity: 0;
  }

  to {
    transform: translate(0);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  body {
    max-width: 100%;
    position: relative;
  }

  nav ul {
    display: flex;
  }

  nav li {
    border: none;
  }

  .burger {
    display: none;
  }

  .welcome {
    background-position: 100%;
  }

  .class-sec {
    display: flex;
  }

  .classes img {
    max-width: 33.33%;
  }

  table {
    width: 80vw;
  }

  th,
  td {
    font-size: 18px;
  }

  td span {
    font-size: 12px;
  }

  .contact {
    width: 60vw;
  }
}
